body {
  font-family: Arial, sans-serif;
  background-image: url("./8088694.gif ");
  height: 100vh;
}

.container {
  width: 30%;
  margin-top: 15%;
  margin-left: 36%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(75, 77, 218);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(160, 14, 14, 0.1);
}

h1 {
  color: rgb(19, 233, 233);
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #1696bd71;
  border-radius: 5px;
  font-size: 16px;
  width: 70%;
}

button {
  padding: 10px 20px;
  background-color: #1ad9e7;
  color: rgb(238, 220, 220);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-bubble-container {
  display: flex;
  gap: 5px;
}

.chat-bubble {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  background-color: #4787dbe1;
}

#audio {
  top: 0%;
  margin-left: 0%;
}
#chat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
